@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.Toastify {
  font-size: 12px;
  .Toastify__toast {
    padding: 0px;
    min-height: 50px;
    .Toastify__toast-icon {
      border-radius: 0px;
      width: 0px;
      background: hsl(6, 78%, 57%);
    }
    > svg {
      display: none;
    }
  }
}

/** CSS for rect overlaymodal **/
.react-confirm-alert-overlay {
  z-index: 1200;

  .react-confirm-alert {
    .react-confirm-alert-body {
      font-family: "Open Sans";
      font-weight: 200;
      font-style: normal;
      font-size: 14px;
      width: 400px;
      padding: 15px;
      text-align: left;
      background: #fff;
      border-radius: 3px;
      border: 1px solid #e0e3e6;
      box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
      color: #1d1e20;
      z-index: 1205;

      h1 {
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
        letter-spacing: 0.16px;
      }

      .react-confirm-alert-button-group {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
        padding-top: 10px;
        flex-direction: row-reverse;
        border-top: 1px solid #e0e3e6;

        & > button:nth-child(1) {
          font-family: "Open Sans";
          font-weight: 600;
          background: #2caf92;
          border-radius: 3px;
        }

        & > button:nth-child(2) {
          font-family: "Open Sans";
          font-weight: 600;
          background: none !important;
          color: #1d1e20;
        }
      }
    }
  }
  &.horizontalScrollAlert {
    .react-confirm-alert-button-group {
      .leave-without-recalc {
        background: #2caf92 !important;
      }
    }
  }
}
